.vscode/
target/
Cargo.lock
bin/

# sample output folder created by docker build
crescent-extension

# There are additional sub-project .gitignore files:
#  creds/.gitignore
#  circuit_setup/.gitignore
#  sample/.gitignore
